[2018-01-09 19:14] nareshbhatia opened #1 "Redirecting incorrect sub-routes to notFound"
Suppose we have a route pattern like `/departments/:id` and there are only two valid values for `:id`. If we get an invalid value for `:id`, what's the best way to send the router to the `notFound` state?

[2018-01-22 16:17] nareshbhatia opened #4 "Jest/Istanbul ignoring "ignore" hints"
Would be nice to exclude conditional logging from coverage reports, but Istanbul is not cooperating. See [this](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/router-store.ts#L136-L143) for an example. Also have an [open question](https://stackoverflow.com/questions/48284724/ignoring-ignore-hints) on StackOverflow. If anyone has a solution, please send a PR.

[2018-01-22 19:00] carlosagsmendes opened #5 "mobx-state-router vs mobx-router"
Hi nareshbhatia,

Could you please further document the key differences between mobx-state-router and mobx-router?

I'm just starting with Mobx and would like to understand which one should I pick.

Thanks in advance!

[2018-01-22 19:44] nareshbhatia commented on #5
@carlosagsmendes, the basic concepts are the same - both projects follow @mweststrate's guidance on how to handle state. I respect @kitze's work a lot. In fact, I had started with mobx-router first. Having said that, here's a list of improvements I have tried to make:

1. Cleaned up the API to make the underlying concepts crystal clear.
2. First class documentation, explaining what's going on unde

[2018-01-22 19:44] #5 closed

[2018-01-22 21:40] carlosagsmendes commented on #5
This is really helpful information. Thanks a lot!

[2018-01-24 01:29] thupi opened #6 "How to handle nested route or and default routes"
First of all I want to say this is a awesome solution to routing using mobx. I am currently using router5 to achieve something like that. Mobx-state-router is just way cleaner.

I am curious about two things. How to handle nested routes and something like default routes :-) An example would be that one would like /administration t become /administration/settings. In that way settings page will be

[2018-01-24 06:04] nareshbhatia commented on #6
Haven't tried it myself, but I think something like this will work (in your `routes.js`):

[code]

Don't understand your second question. Have you seen the docs for [Redirecting to the Sign In page](https://github.com/nareshbhatia/mobx-state-router#redirecting-to-the-sign-in-page)?

[2018-01-24 06:04] #6 closed

[2018-01-24 08:11] thupi commented on #6
@nareshbhatia I will definitely give this a try :-)

My second question is about handling auth on a parent route in order to make the children require auth.

Another example would be the possibility of having nested RoouterView components:

Root -> RouterView -> Administration -> RouterView -> SettingsTab :-)

For reference in router5 they have a property called children in their route definition.

[2018-01-24 12:56] nareshbhatia commented on #6
@thupi, if I understand you correctly, you are trying to protect all your administration tabs in one place. That should be very simple. Just put a `beforeEnter` hook on the `/administration/:id` pattern like this:

[code]

The mobx-shop example goes even further. It creates a reusable hook called [checkForUserSignedIn](https://github.com/nareshbhatia/mobx-shop/blob/master/src/shared/stores/routes.

[2018-01-24 13:20] thupi commented on #6
@nareshbhatia Alright that seams to solve the problem. But the point i am tring to make is a little different.

In order to show my issue i will just go ahead an provide my current route config :-)

[code]

As you see i have `ROUTE_NAMES.APP` which maps to `<App />`. Inside <App /> i have `ROUTE_NAMES.APP_INTRO` which maps to `<AppIntro />` and `ROUTE_NAMES.APP_NETWORK` which maps to `<AppNetwork

[2018-01-24 14:39] nareshbhatia commented on #6
Ah, I now see what you mean. mobx-state-router does not have the concept of nested routes or nested RouterViews. That's the trade-off I made to keep the design simple. You will have to flatten your routes to make them work with mobx-state-router. For most common use-cases this approach works. You will have standalone routes for `/`, `/intro`, `/networks/:networkId` etc. I assume these are separate

[2018-01-24 15:03] thupi commented on #6
@nareshbhatia Alright :-)

It is actually not :-) In some of the deeply nested routes the View uses information delivered by the parrent. That way i can share a lot of behavior and ui across multiple pages while keeping most of ther different pages accessiable by URL's :-)

The thee of routes maps directly to my tree of routers that are nested. So to flatten them will take a while and i do acutall

[2018-01-24 15:28] nareshbhatia commented on #6
Glad to be of help, @thupi.

[2018-01-25 05:06] collegeimprovements opened #7 "How did you create these awesome visualizations ?"
Which tools did you use? Can you share a little bit about the process to create such awesome visualizations ?

[2018-01-25 12:06] nareshbhatia commented on #7
I used Sketch, but you can easily create this in PowerPoint too. It's just rectangles with some careful choice of colors, nothing too fancy :-). Try it!

[2018-01-25 12:06] #7 closed

[2018-01-30 15:04] evanblack opened #8 "Question: Bypassing HistoryAdapter"
I had a quick question. Lets say I'm not interested in modifying/tracking the browser address bar while navigating through my app. Would I just need to write my own (simpler) `HistoryAdapter`, or do I bypass it altogether by directly modifying the `routerStore`?

[2018-01-30 17:43] nareshbhatia commented on #8
You can bypass `HistoryAdapter` completely! As shown in the architecture diagram, `HistoryAdapter` and `RouterView` are both watching the `RouterState` - they are dependent on it. However there is no reverse dependency from `RouterState` to anything! It's a standalone state machine. TL;DR - just delete [these two lines](https://github.com/nareshbhatia/mobx-shop/blob/master/src/app.js#L38-L39) in y

[2018-01-30 17:43] #8 closed

[2018-01-30 18:24] nareshbhatia commented on #8
@evanblack, if you are bypassing the `HistoryAdapter`, you will have to initialize the RouterState to a known state yourself, e.g.:

    rootStore.routerStore.goTo(new RouterState('home'));

[2018-01-30 18:31] evanblack commented on #8
Thanks! Library looks great. I’m looking forward to giving it a try!

[2018-02-05 20:54] carlosagsmendes commented on #6
@thupi and @nareshbhatia I'm trying to implement a master-details view pattern. It is a kanban board where I want to show card details.

But after reading this I think there's no way to do something like:

/boards/1
/boards/1/cards/2

Right?

[2018-02-05 21:00] nareshbhatia commented on #6
I think you can implement as two different routes, both pointing to the same view:
1. /boards/:boardId
2. /boards/:boardId/cards/:cardId

Or using query parameters: /boards/1?cardId=2

The idea is that you want to get a boardId and an optional cardId to the view. Let me know if this works.

[2018-02-06 16:37] carlosagsmendes commented on #6
Thank you @nareshbhatia

I've tried it, but I still have an issue: when I change the state the whole page is reloaded.

In my case, by clicking on a card I would like to show a modal window with the card details, without redrawing the whole UI.

Here's the online example [https://codesandbox.io/s/qzkr4kzrw9](https://codesandbox.io/s/qzkr4kzrw9)

Also, while testing this I've found that I was getti

[2018-02-06 17:29] nareshbhatia commented on #6
@carlosagsmendes, thanks for giving this a try.

To give you some insight into the numbers issue, mobx-state-router compares the current router state with the history location to determine if a state change (and hence a re-render) is required. Since the history provides the the params as strings and they are being compared to numbers in your case, it detects a mismatch and does an extra render. Th

[2018-02-07 12:35] carlosagsmendes commented on #6
@nareshbhatia many thanks for your suggestions and support.

`mobx-state-router compares the current router state with the history location to determine if a state change (and hence a re-render) is required`

Since the history provides the params as strings would it be possible to cast the state before doing the comparison? I've fixed it in my code but I think doing so might help avoid unintended

[2018-02-11 20:57] nareshbhatia commented on #6
Hi @carlosagsmendes, sorry for a delayed response - I was very busy at work.

I looked at your code and the rendering seems to be pretty efficient already. Notice that only two cards are being rendered - the one that is deselected and the one that is selected. All other cards are left untouched. To make this more apparent, I increased the number of cards to 6 and now you can see this very clearly.

[2018-02-11 22:31] carlosagsmendes commented on #6
Many thanks @nareshbhatia, I really appreciate your support.

I'm just getting started with Mobx (and React) but this looks very promising.

[2018-02-12 10:13] lucianlature commented on #4
@nareshbhatia The TS compiler removes the `istanbul` comments  before executing the tests, therefore all the `ignore` flags are...well, ignored.

Simply configure `removeComments` to `false` and now the coverage is `100%`.

<pre>
{
    "compilerOptions": {
        "declaration": true,
        "declarationDir": "dist/types",
        "experimentalDecorators": true,
        "jsx": "react",
        "l

[2018-02-12 10:30] lucianlature commented on #1
The best way is the React Router's approach on this, IMHO.

It uses the `Switch` component, which only renders the first matched component:

[code]

In this case, I think we should just use the `beforeEnter` hook to check if the `id` is valid. If not, simply change the state of the Route to `notFound`.

[2018-02-12 12:34] carlosagsmendes commented on #1
@lucianlature but that wouldn't work in this case since there is no concept of sub-routes right?

I'm taking a look at different routers. Vue's router [approach to nested routes](https://router.vuejs.org/en/essentials/nested-routes.html) is also great.

@nareshbhatia would you be open to add nested routes and [named views](https://router.vuejs.org/en/essentials/named-views.html) to the project? We

[2018-02-12 13:03] lucianlature commented on #1
@carlosagsmendes That's correct.

[2018-02-12 13:35] aap82 commented on #6
@carlosagsmendes
Take a look at this [demo](https://codesandbox.io/s/2120zn0xy0) for an alternate implementation of `RouterView` to achieve what you want.   Also note that I removed all the other injects because they really aren't necessary.

[2018-02-12 14:36] aap82 opened #9 "Transition Hooks"
I've played around with the library a bit, and if welcomed, a few observations/suggestions.  First, regarding the transition hooks such as
[code]
Since `RouterState` has only read-only properties, is there a reason that `fromState` and `toState` should be resolved from the hook?  Wouldn't it be safer not to resolve them, thereby eliminating any possibility of transitioning to another state than th

[2018-02-12 17:39] #4 closed

[2018-02-12 17:41] nareshbhatia commented on #4
Awesome detective work, @lucianlature! Thanks for your help.

[2018-02-12 17:59] nareshbhatia commented on #1
@carlosagsmendes, while there are no nested routes in mobx-state-router, I think @lucianlature suggests a good solution. `beforeEnter` should work perfectly for this. I am closing this issue.

As for nested routes:

1. I would like to first understand the need for it. Is there a use case that is simply not possible without it? Even your master/detail use case was easily implemented with a single R

[2018-02-12 17:59] #1 closed

[2018-02-12 18:50] nareshbhatia commented on #9
@aap82, thanks for the observations/suggestions - these are always welcome.

While RouterState itself has read-only properties, it is fully intended that hooks can change the transition by returning a completely new `toState`. You can see a use case [here](https://github.com/nareshbhatia/mobx-state-router#redirecting-to-the-sign-in-page).

I like your simplification of the promise chain. Nice patt

[2018-02-12 19:15] aap82 commented on #9
I think you missed my point, but at the same time you're example makes my point very clear:   a **rejected** promise results in a different toState, _not_ a **resolved** one.  And if you notice in the promise chain example above, that's taken into account.

[2018-02-12 19:26] nareshbhatia commented on #9
Yep, definitely missed your point :-). Reworking the logic.

[2018-02-12 20:05] aap82 commented on #9
No problem.  It makes sense, right?

Also, (and feel free to fully disregard this):
IMO, hooks are more useful when implemented as composed functions (just like router5¸ but I'll take it a step further).

Especially if you're leveraging idiomatic programming styles, then simple functions such as the one below can become quite reusable.

[code]
It's just something to think about.

[2018-02-12 20:35] carlosagsmendes commented on #6
@aap82 I really like it. This gives me a lot of ideas 👍

I'm unable to get this working with [React-Loadable](https://github.com/jamiebuilds/react-loadable). Would you mind [checking it out](https://codesandbox.io/s/n56my35m7m)?

@nareshbhatia do you see any inconvenient in using a custom `RouterView` component?

Thanks!

[2018-02-12 21:27] aap82 commented on #6
@carlosagsmendes you're missing one word in your `BoardPage.js`  file.   As soon as I added it, it worked.

Let me know if you can't figure out.

[2018-02-12 21:39] nareshbhatia commented on #9
@aap82, I reworked the processing of transition hooks as you suggested. Please see the [promise-chain](https://github.com/nareshbhatia/mobx-state-router/tree/promise-chain) branch. If all looks ok, I will merge to master.

Your suggestion to implement hooks as composed functions also looks good, however is that a change in mobx-state-router API or just a suggestion for people writing transition ho

[2018-02-12 21:52] aap82 commented on #9
BTW, i forgot to mention, I"m not a programmer at all by trade, with no formal training, so you don't want to rely on me for code review.  But it looks fine to me.  :)

As for the composed function hooks, I simply mentioned it to you as something to think about if you wanted to extend the functionality.  Food for thought.

[2018-02-12 21:59] nareshbhatia commented on #6
@carlosagsmendes, I don't see any issues with using the custom `RouterView` component suggested by @aap82. It is actually a very nice optimization trick!

[2018-02-12 22:02] nareshbhatia commented on #9
Well, that's pretty good for not being a programmer by trade :-). Thanks for reviewing. Will be merging to master after changing docs, examples etc.

[2018-02-12 22:02] #9 closed

[2018-02-12 23:05] aap82 commented on #9
Did you confirm it works?  I might be mistaken, but i thot you have to explicity use return in reduce, as well as the nested promise.

[2018-02-12 23:41] nareshbhatia commented on #9
Where do you think I am missing a return: [router-store.ts](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/router-store.ts#L165-L190)? What line number?

It seems to be working perfectly. Test suite is passing, mobx-shop is working correctly.

[2018-02-12 23:44] carlosagsmendes commented on #6
Thank you both! @aap82 I guess I will have to read ["Why we have banned default exports in Javascript and you should do the same"](https://blog.neufund.org/why-we-have-banned-default-exports-and-you-should-do-the-same-d51fdc2cf2ad) once a day, for a month or so.

[2018-02-13 00:23] aap82 commented on #9
170-171 but if its working, great!

[2018-02-13 00:51] nareshbhatia commented on #9
So in ES6/TS, the `=>` without a `{ }` means a returned value. So we should be fine!

[2018-02-28 08:10] TIMNHE opened #10 "Question: May it works with react native?"
I'm going to start a new project with react native and I'm looking for router alternatives, so ...
is mobx-state-router working well with react-native?

[2018-02-28 15:06] nareshbhatia commented on #10
While I haven't tried it with React Native, I don't see any reason why it shouldn't work. Since React Native apps do not have a browser address bar, drop the `HistoryAdapter` altogether. Just use the `RouterStore` and the `RouterView` - should work fine. Let me know how it works for you!

[2018-02-28 15:06] #10 closed

[2018-03-26 17:42] nk1tz opened #12 "viewMap vs components property in routes.js"
Great work. I'm probably going to start using this library in an app of mine.

I noticed you use a `viewMap` in your shell.
I was wondering if there is a specific reason for this as my instinct would have been to add this functionality as part of your `routes.js` similar to how Kitze does it in mobx-router.

My gut tells me this may allow you to remove shell entirely and just put `RouterView` in y

[2018-03-26 17:57] #12 closed, assigned to nobody

[2018-03-27 07:01] xFloooo opened #13 "inconvenient use of the Link"
Every time we need to do 2 things

1. extract and transmit `routerStore`
2. generate and transmit `new RouterState(...)`

the `<Link />` itself can do this if it has a `routerStore`

my suggestion: add a `routerStore` to the react context in the `RouterView` component.
Then api `<Link />` will become simple...

[code]

[2018-03-28 14:49] evanblack opened #15 "Plans to upgrade to Mobx@4?"
Depending on the features used, there may not even be anything actionable

[2018-03-28 16:36] nareshbhatia commented on #15
I would like to try it when I get a chance. I did ask mweststrate about compatibility, his said: "you will need a new major of mobx-state-router to bump the peer dep unless it happens to work with both 3 and 4 OOTB, but that is unlikely"

[2018-03-31 22:32] nk1tz commented on #12
Thank you! That makes a lot of sense.

[2018-04-02 18:02] xFloooo commented on #13
It would be nice to put class="active" if the link is the same as url.
or make it as in a `react-router` ->  [NavLink](https://reacttraining.com/react-router/web/api/NavLink)

[2018-04-12 23:08] nareshbhatia commented on #13
Done.

Added `<RouterLink>` which allows the simpler API suggested by you and also `className` and `activeClassName` properties.

Please see example in [mobx-shop](https://github.com/nareshbhatia/mobx-shop/blob/master/src/features/signin/signin-page.js#L85-L87) and let me know if this works for you.

[2018-04-12 23:08] #13 closed

[2018-04-13 03:08] #15 closed

[2018-04-13 03:11] nareshbhatia commented on #15
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/mobx-state-router)
- [GitHub release](https://github.com/nareshbhatia/mobx-state-router/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-13 19:14] xFloooo commented on #13
@nareshbhatia Excellent!
Translated [boilerplate](https://github.com/xFloooo/mobx-state-router-ssr-boilerplate/commit/02f9ae72eee99e577022ece8a7de1d783d27af5c#diff-b9fabfacdfc52a92e2a5f4ee89aa8c43L36) version 3.0 - everything works great

[2018-04-13 19:24] nareshbhatia commented on #13
Good to know!

[2018-05-02 19:41] xFloooo opened #20 "default route settings"
for example we have rout  `/:user`, and by default we would like to see `user=guest`, but you do not need to write `guest` in the browser line.
Or make a nesting with `middleware`

[2018-05-17 08:26] kutuluk opened #23 "Universal HOC for link wrapping"
withRouter.js
[code]

example.js
[code]

[2018-05-18 08:43] kutuluk commented on #23
When src/components/link.jsx:

[code]

[2018-05-27 12:01] MaelLarcher opened #26 "Mobx persistance between routes"
Hi, I supose it is not the place to post this question but I need a quick answer.
Mobx state can persist between routes changing with mobx-state-router ?
That's mostly what I'm looking for
Thank's

[2018-05-27 17:12] #26 closed

[2018-05-30 17:16] jzimmek opened #28 "errors on page transition"
hi, i really like the approach of mobx-state-router and tested it out for our upcoming, mobx based, project. it was a good experience so far, but i run into two issues:

the following error is thrown the first time i transition to a different url:

[code]

it seems to have no obvious negative effect, because the router shows the expected route.

but i also get the following error when invoking rou

[2018-05-30 19:41] kutuluk commented on #28
I know the problem and tomorrow I will solve it. While using version 3.0.2

[2018-05-30 22:14] jzimmek commented on #28
just tried out 3.0.2 and it works without having any of the above issues. thx.

[2018-05-31 07:59] jzimmek opened #29 "only initial route transition hooks are not invoked, not thrown ones"
lets assume we have 2 routes X and Y.

Y needs some initialization in before/onEnter to work properly. X will throw RouterState("Y") under some conditions.

but throwing a RouterState("Y")  does not tigger the transition hooks of "Y" at all.

i am not sure if this is a bug or defined behavior.

[2018-05-31 08:27] kutuluk commented on #29
[![Edit z6pmjwrpq4](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/z6pmjwrpq4)

see console. all triggers are invoked

[2018-05-31 12:43] nareshbhatia commented on #28
@kutuluk, by any chance did you include this fix as part of PR #27? If yes, I would appreciate a separate PR for this issue. I prefer commits to address one issue or feature at a time.

Thanks.

[2018-05-31 13:55] kutuluk commented on #28
Ok, done =)

[2018-06-01 02:30] #28 closed

[2018-06-01 02:32] nareshbhatia commented on #28
:tada: This issue has been resolved in version 3.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/mobx-state-router)
- [GitHub release](https://github.com/nareshbhatia/mobx-state-router/releases/tag/v3.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-01 11:08] nareshbhatia commented on #29
@jzimmek, does this answer your question? If yes, please close this issue.

[2018-06-04 10:12] kutuluk opened #31 "ViewMap item type: React.Component vs React.ReactNode"
Inconsistency of documentation with code:

README.md:

actually: [router-view.tsx](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/components/router-view.tsx#L5-L7)

I believe that React.Component is better than React.ReactNode and it is necessary to bring the code into compliance with the documentation.

[2018-06-04 11:00] kutuluk commented on #31
Moreover, I suggest generally get rid of the viewMap property in RouterView and add instead the component property in Route. Because in fact in the current implementation there is a rigid binding of the router to the component, only it is done in a strange and unnatural way by means of a separate map.

[2018-06-04 11:59] kutuluk commented on #31
Then the RouterView will be:

[code]

[2018-06-05 05:31] kutuluk commented on #31
You can do more universally:

[code]

Then, when specifying the `viewMap`, the components will be taken from it. Otherwise, from the `route.component`.

[2018-06-05 05:50] kutuluk commented on #31
You can go even further. Add the `stories` property to the route and send them to components, removing the need to inject them directly to each component:

[code]

[2018-06-05 07:07] kutuluk opened #32 "Add observable transition property to RouterStore"
[code]
[code]

[code]

This can be used, for example, to display the progress bar during the transition.

[2018-06-05 07:46] kutuluk opened #33 "Add v.4 branch to repository and @4.0.0-beta tag to npm"
This will allow to safely make breaking changes and test in a production-like environment.

[2018-06-10 03:31] nareshbhatia commented on #29
Closed due to inactivity.

[2018-06-10 03:31] #29 closed

[2018-06-10 15:45] nareshbhatia commented on #32
Good suggestion. Implemented.

[2018-06-10 15:45] #32 closed

[2018-06-10 16:09] nareshbhatia commented on #31
Hi @kutuluk, there was an issue earlier when a `routeName` was associated with a `React.Component`. TypeScript did not like it in some use cases (I can't remember which). I had to relax the type to `React.ReactNode` to make it work. Here's the related commit: https://github.com/nareshbhatia/mobx-state-router/commit/e0d9dd499f8c98991de219c74a67ab0d7492960e. I have fixed the documentation to match t

[2018-06-10 16:09] #31 closed

[2018-06-10 16:28] nareshbhatia commented on #33
Unfortunately, it is not clear to me how to publish multiple releases to npm using [semantic-release](https://github.com/semantic-release/semantic-release). This feature is under discussion in their issue list - see https://github.com/semantic-release/semantic-release/issues/563.

I suggest handling breaking changes as follows:
- Create a feature branch with an appropriate name
- Write tests to ma

[2018-06-10 16:28] #33 closed

[2018-06-12 08:45] yacut opened #34 "Wait for initialization"
Hallo.

Unfortunately  I could not find information on this issue.

_For example:_
App saves the auth data in cookie after login.
When user reload the page it should check that credentials are valid and only when start to route or fetch data etc.

@nareshbhatia Do you have some solution for this case?

[2018-06-12 21:32] nareshbhatia commented on #34
This is a minor extension of the use case that is implemented in [mobx-shop](https://github.com/nareshbhatia/mobx-shop/blob/master/src/shared/stores/auth.store.js). Basically you need to save the auth data in the AuthStore and simultaneously in the cookie (or localStorage). When the page is reloaded, the app should initialize the AuthStore with the data in the cookie. This should happen in [app.js

[2018-06-12 21:32] #34 closed

[2018-06-13 09:46] gcazaciuc opened #35 "Adding routes dynamically"
Hi,

We have a situation where the list of routes isn't known upfront but it needs to be constructed dynamically.
Is there a way to add routes definitions dynamically ?

Thanks!

[2018-06-13 14:08] nareshbhatia commented on #35
Hi @gcazaciuc, there is no API for adding routes dynamically. However, you could access `RouterStore.routes` directly and update them dynamically. This is not a use case that I designed the router for, so your milage may vary!

The only way in which the constructor changes the `routes` array is to add an initial route to it. See [here](https://github.com/nareshbhatia/mobx-state-router/blob/master/

[2018-06-14 10:04] gcazaciuc commented on #35
I have multiple React applications on the same page( there is a legacy system in which parts of the page are being gradually replaced  by React components implementing different flows).
I would like each React application to have access to the same Router instance and add their routes to it.
Otherwise, if they are separated, whenever the URL changes one of the React app will enter the not found ro

[2018-06-14 11:05] nareshbhatia commented on #35
@gcazaciuc, interesting use case! Hopefully you will be able to utilize my suggestion above. Closing for now.

[2018-06-14 11:05] #35 closed

[2018-06-17 23:16] BANOnotIT commented on #20
@xFloooo doesn't work construction like?
[code]

ps. If it doesn't, I'll look for another router)

[2018-06-18 13:02] xFloooo commented on #20
@BANOnotIT your requirement is working, my question about another...

[2018-08-13 19:21] bitttttten opened #36 "Lazy evaluate the transition hook"
Is there a way to lazyily evaluate a transition hook?

For example on client, I would like the app to render lazily so the user experience is cleaner. It would show preloading states of components or the route, and then fill in the data when completed. On the server however, I want to wait for the transition hook to finish so I have all my data before sending it down so that I do not send down pre

[2018-08-13 20:06] nareshbhatia commented on #36
If I understand you correctly, the way to lazily evaluate a transition hook, is to resolve it immediately inside the router. However wait for the async fetch to finish in your target store. So in your example, the `onEnter` hook will look like this (for the client use case):

[code]

This will make sure that your target view is loaded right away, however it will populate with data only when the fe

[2018-08-13 20:26] bitttttten commented on #36
Yes that is the correct idea!

I see the difference between the client use case and server use case, although that would mean I need to have a different onEnter hook for the client and server, correct?

I would like them to be the same, and I would like to not need to do something like this:

[code]

As this doesn't scale and becomes less isomorphic. Is there a solution for this in the library alr

[2018-08-13 21:01] nareshbhatia commented on #36
This is the best I can think of. Copying @xFloooo in case he has a better solution - he is deeper into SSR!

[2018-08-14 12:08] xFloooo commented on #36
@bitttttten @nareshbhatia
I think that the router should not do this... This is usually done by `apiClient`.
[For example, how `apollo` works with `graphql`](https://github.com/apollographql/react-apollo)

[2018-08-14 16:12] nareshbhatia commented on #36
@xFloooo, looking at the Apollo docs, it looks like they keep a flag called `ssr` (see [here](https://www.apollographql.com/docs/react/features/server-side-rendering.html#server-initialization)). This flag is used to control server side logic, e.g. [here](https://www.apollographql.com/docs/react/features/server-side-rendering.html#skip-for-ssr).

@bitttttten, I suspect you will have to do somethin

[2018-08-14 16:12] #36 closed

[2018-08-15 20:01] bitttttten commented on #36
I am going to move ahead with the approach of returning in the hook or not. Thanks for the discussion!

[2018-08-15 20:08] bitttttten opened #37 "Error: Route [object Object] does not exist"
Using `v8.9.1` and building as a commonjs2 module. Using hapi to host my server. When running my app (`node server/index.js`) then access it, I get this error message which comes from [here](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/router-store.ts#L109-L112).

[code]

If I log out the values above the check of `toStateOrRouteName instanceof RouterState`:

[code]

So it loo

[2018-08-15 20:46] nareshbhatia commented on #37
Hmmm, it is definitely confusing. Sometimes you can get a clue of what's going wrong by looking at the router logs before the error occurs. For that you have to run the app (or server in your case) in debug mode.

If that does not help, you may want to create a minimal app that reproduces the error. With that we may be able to help.

[2018-08-16 15:55] nareshbhatia opened #39 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-08-16 20:10] bitttttten commented on #37
Before it crashes I see this when running it in debug mode:

[code]

So again you can see here that routeName consists of an object (an instance of RouterStore, I assume). I also built it with node v10.

The repo is on gitlab, it's a private repo at the moment. Do you have an account there? I can share it with you. Unless you would prefer it a different way.

[2018-08-16 21:58] nareshbhatia commented on #37
Sure, let me see what I can do. I am `nareshbhatia` on gitlab.

[2018-08-16 22:17] bitttttten commented on #37
Great thanks. I was thinking this is a problem with my babel config and not related to the library.

[2018-08-22 19:10] bitttttten commented on #37
I changed the check to pass if it's an object, although now I run into another error 😅

[code]

I also copied your example webpack config and now I am really stumpted. On the client it works fine! It is only when I run this in node.

[2018-08-22 19:58] nareshbhatia commented on #37
I spent some time understanding your setup yesterday. Will be able to spend a couple of hours today.

[2018-08-23 03:51] nareshbhatia commented on #39
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-08-23 05:08] nareshbhatia commented on #37
Reopening. I fixed your first issue by changing the check from `instanceof` to `typeof`, but now I am hitting your second issue: `a.valueOf is not a function`. Still looking. Amazing that this has never been a problem on the client side.

[2018-08-23 05:42] nareshbhatia commented on #37
FWIW, this seems to be the last issue. If I comment  out part of the `valueEqual` method, the app actually comes up. Will look at it tomorrow.

[2018-08-23 19:10] bitttttten commented on #37
It's a shame to change the check into typeof string check, since the previous solution was a lot more elegant and clear. I'm also suprised that nobody has hit this issue before 😅

[2018-08-23 21:40] bitttttten commented on #37
That's a shame. I updated my app to the new version and it works!

Thank you so much for the update. I am really liking this library so far, my favourite implementatation of the seperating state and ui 👍

[2018-08-23 22:46] nareshbhatia commented on #37
Glad you are liking it :-)

[2018-08-27 17:52] davidmz commented on #6
I also faced with the fact that mobx-state-router does not support nested routed. But it turned out that they are very easy to implement :) We just need a helper function that turns a nested routing tree into a non-nested list: https://gist.github.com/davidmz/148101963b980ddcd164770b2e428f62

See examples in the above gist. There are nested (children) routes in 'about' ('/about') branch: 'index' (

[2018-08-28 01:51] nareshbhatia commented on #6
Very clever, @davidmz! Thanks for sharing.

[2018-09-05 12:47] zeljkohuber opened #40 "Error handling in hooks"
How should we handle custom errors that occur in any of the hooks? I could catch those errors in my own handlers but any further throwing would result in internal catch which throws 'toState is undefined'.

Is there any option for adding onHookError callback which would be triggered when caught exception is not rejected RouterState, but some internal application error which occured in one of hooks

[2018-09-11 09:55] rexpan opened #42 "Throw RouterState won't trigger onEnter"
[code]

When `onEnter` of state `x` `throw (new RouterState('y'))`,
it redirect to state `y` but won't trigger `onEnter` of state `y`.

[2018-09-15 13:15] nareshbhatia commented on #40
@zeljkohuber, can you please describe your exact use case? What is your hook trying to do? What kind of error is it throwing? If you handle it in your hook, what further errors do you have to throw? What is the desired outcome of handling the errors (e.g. show an error page)?

This will allow us to design a proper solution to your issue.

[2018-09-15 16:42] nareshbhatia commented on #40
Also note that you can throw an instance of `RouterState` which will simple set the Router to that state.

[2018-09-17 12:31] #42 closed

[2018-09-17 12:34] nareshbhatia commented on #42
:tada: This issue has been resolved in version 3.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/mobx-state-router)
- [GitHub release](https://github.com/nareshbhatia/mobx-state-router/releases/tag/v3.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-17 12:41] nareshbhatia commented on #23
Closing this as the related PR was closed.

[2018-09-17 12:41] #23 closed

[2018-09-18 02:50] #40 closed

[2018-09-18 02:55] nareshbhatia commented on #40
Got it! I added a function `setErrorHook()` to `RouterStore`. Please let me know if this is what you are looking for.

[2018-09-18 03:03] nareshbhatia commented on #40
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/mobx-state-router)
- [GitHub release](https://github.com/nareshbhatia/mobx-state-router/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-18 06:01] zeljkohuber commented on #40
That's exactly what I tought was missing. thank you a lot! BTW the package is awesome and really useful 🗡

[2018-09-18 06:34] zeljkohuber opened #44 "Pass custom data within RouterState"
I was wondering if `RouterState `should hold any more `data `than the one related with the URL (params, queryParam). I know that its `javascript `and I can add my own `data `property to it but what are your thoughts on that?

For example if I want to transition to state but pass in some custom data (e.g. because I need additional state in opposed to directly navigating to that URL) within `RouterS

[2018-09-20 06:44] zeljkohuber opened #45 "Dev mode logging"
It would be nice if there was a way of telling the `router` whether or not we want console logs in `development` mode. I've got some other plugins along with my personal loggings and its pretty hard to find anything in console full of logs.

Please let me know what you think. Thank you.

[2018-09-28 21:44] bitttttten opened #46 "How to debug "toState is not defined""
[code]

I am recieving this error in my server and I am not sure how to debug it. Am I perhaps missing a try catch? I am guessing it's an error in my routes for some reason.

[2018-09-28 22:32] bitttttten commented on #46
I see now I can use the setErrorHook hook to catch my errors.

[2018-09-28 22:36] #46 closed

[2018-09-28 22:37] bitttttten commented on #46
`rootStore.routerStore.setErrorHook((error) => {
	errorLogginService(error) // eslint-disable-line no-console
})`

[2018-10-09 09:54] geohuz opened #47 "Question on Fetching Data"
As the document stated the UI should not be responsible of fetching data, as in componentWillMount, componentDidMount, I agree with that, but there are scenarios when we need fetch data by user interaction, such as button click, I'm not sure how do we deal this in mobx-state-router, or we just use async action in mobx?

[2018-10-09 22:28] nareshbhatia commented on #47
The button click should fire an async action in the mobx store (not in the mobx-state-router). That async action should call a service that makes the http call and returns the results which should be populated in the store. The basic pattern is that components fires actions in the store and the store calls services. Components should never call services directly.

You can see an example here:

htt

[2018-10-09 22:28] #47 closed

[2018-10-10 04:05] geohuz opened #48 "The corresponding concepts of dynamic routing and responsive routes in mobx-state-router"
When we use react-router v4, we know that dynamic routing is a powerful concept that allows you think about router rendering component depends on the current route path, and static router is like route configuration. I'm wondering how does these concepts map to the mobx-state-router, specifically do we have example code according to react-router-v4's documentation: '''Dynamic routing, Nested Route

[2018-10-10 04:56] geohuz commented on #48
So, is there any example of nested routes and responsive routes?

[2018-10-10 05:10] geohuz opened #49 "How to do nested paths?"
_Originally posted by @geohuz in https://github.com/nareshbhatia/mobx-state-router/issues/48#issuecomment-428437903_

So the following code:

[code]

How do we do it in mobx-state-router

[2018-10-10 15:44] nareshbhatia commented on #49
@geohuz, please ask followup questions on the original issue. Let's not create new issues for the same question. I will answer it there.

Also you had entered a long paragraph as the title of the issue - please don't do that. The title is meant to be a one liner.

[2018-10-10 15:44] #49 closed

[2018-10-10 16:06] nareshbhatia commented on #48
mobx-state-router does not support nested routes. However, you can easily transform a nested route into a non-nested one. Please see this comment by @davidmz who has done it: https://github.com/nareshbhatia/mobx-state-router/issues/6#issuecomment-416310912

[2018-10-16 08:58] pvider opened #50 "Animated page transition"
Before I've used React Router 4 with TransitionGroup and CSSTransition. Previous page were faded away and moved horizontally while new one appeared. Just translateX and opacity animation in css. How to achive same effect with mobx-state-router? When I try to put RouterView instead of ReactRouter4 Switch previous page instantly becomes new page and I see how same page disappears and appears. How to

[2018-10-17 13:03] bpkinez opened #52 "Router basename setup"
Hi Naresh,

is there any way to set basename in mobx-react-router like it is set in React Router with following:

[code]

[2018-10-17 18:19] iexplore commented on #52
I was just looking for that same requirement.

[2018-10-18 02:05] #45 closed

[2018-10-18 02:07] nareshbhatia commented on #45
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/mobx-state-router)
- [GitHub release](https://github.com/nareshbhatia/mobx-state-router/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-18 02:13] nareshbhatia commented on #45
I realized that all that logging was for debugging purposes only. Then I read [this article](https://hackernoon.com/please-stop-using-console-log-its-broken-b5d7d396cf15) that convinced me that console.log is not a good way to debug software! It is easy enough to put breakpoints in mobx-state-router code if there is an issue. Hence I have removed all logging from the library. Enjoy the unclogged c

[2018-10-19 14:29] nareshbhatia commented on #52
This is pretty straightforward. All you need to do is to set the `basename` option when creating the history object. I created an example [here](https://github.com/nareshbhatia/mobx-state-router-examples/tree/master/relative-paths).

[2018-10-19 14:29] #52 closed

[2018-10-19 21:40] nareshbhatia commented on #50
I figured out the issue, but don't have a solution yet. `TransitionGroup` holds on to the previous child and the new child and renders both during the timeout duration. In the code above, the previous child and the new child are both `RouterView`s - two different instances. Unfortunately both instances will render the new state because that's what `RouterView` is supposed to do! We need to figure

[2018-10-19 21:44] nareshbhatia commented on #50
I wonder if we can use `RouterStore.isTransitioning` observable to do page transitions - maybe fade out the page when isTransitioning is true and fade in the new page when isTransitioning is false.

[2018-10-19 22:38] nareshbhatia commented on #50
Ok, got it! Don't use `RouterView`. Do the determination of the view outside of the `TransitionGroup`. This will allow the `TransitionGroup` to hold on to the old view. Here's my code. Note that the class has to be an observer so that it can observe changes in `RouterState`:

[code]

I will post a full example by tomorrow.

[2018-10-20 03:04] nareshbhatia commented on #50
Example published [here](https://github.com/nareshbhatia/mobx-state-router-examples/tree/master/animated-transitions).

[2018-10-20 03:04] #50 closed

[2018-10-22 14:29] 0xc0d3r opened #53 "how to configure the routes to restrict the user to not to enter the login screen, once login is success?"
I'm setting up routes for our small react application. After login success, if we click on browser's back button then the app is redirecting to `log in` screen. How can I avoid this behavior? After logging out, I'm able to navigate to `home` screen.

TIA

[2018-10-25 02:47] nareshbhatia commented on #53
Well, the best practice is not to mess with the browser back button. If the user clicks on the back button, they expect to see the previous screen.

If you indeed want to alter the browser's behavior, what would you want to do? You could play with the history api and wipe out the previous screen (see [this stackoverflow question](https://stackoverflow.com/questions/14437987/how-disable-browser-bac

[2018-10-25 02:47] #53 closed

[2018-10-25 18:07] nareshbhatia opened #55 "Add basename as a configuration parameter"
See discussion at https://github.com/nareshbhatia/mobx-state-router-examples/issues/1

[2018-10-31 10:47] pvider opened #56 "support lazy loading"
Please, provide example of lazy loaded components in mobx-state-router. I have updated my React to 16.6 with Suspense and lazy, now I cannot figure out how to make `onEnter` and other Transition hooks work.
I have following `shell.js`:
[code]
When I don't use hooks everything works fine: I have code splitting, components are loading lazy etc.
If I use simple `onEnter` hook and return `Promise.reso

[2018-10-31 15:51] nareshbhatia commented on #56
Haven't played with suspense yet, but I will take a look.

[2018-11-05 07:03] nareshbhatia commented on #56
See [Lazy Loading using React Suspense](https://github.com/nareshbhatia/mobx-state-router-examples/tree/master/suspense-lazy-loading). There were two key things I had to do to make the code work:

1. The pages have to export the React component as default (not as named export). This is required for the lazy loading to work.
2. You have to check if `viewMap[routeName]` returns a view. If not, then

[2018-11-05 18:32] pvider commented on #56
Thank you very much! `if (!view) return null;` helped me, now lazy loading works as it should.

[2018-11-05 18:32] #56 closed

[2018-11-21 04:56] gavinbarron opened #57 "RouterLink assumes that rootStore is injected"
If you choose to use a different approach to the configuration of the `<Provider>` then the RouterLink will fail.

For example I configure my provider using the spread operator on my root store to allow all consumers to just inject the store(s) they need and not perform any gymnastics to get the desired store. eg: `<Provider {...rootStore}>`

Then in my consuming components I can simply inject, sa

[2018-11-21 13:51] nareshbhatia commented on #57
Hi @gavinbarron. There is an equivalent component called `Link`, where you can inject the `RouterStore` yourself. I think that should work for you. If not, the `RouterLink` is a really simple component - take a quick look at the source and create your own that meets your requirements.

Closing for now, but feel free to leave a comment.

[2018-11-21 13:51] #57 closed

[2018-11-22 23:14] atifsyedali commented on #44
My 2 cents ... keep the router store pure with only route-based state.

[2018-11-23 11:09] nareshbhatia commented on #44
@zeljkohuber, do you have a concrete example? It is hard to talk about requirements without a use case. Perhaps when we see an example we can propose a better solution.

[2018-11-23 11:58] atifsyedali commented on #44
imo, that's not really a routing state. Seems more of a UI state. What happens when you refresh the page?

[2018-11-23 12:36] zeljkohuber commented on #44
@atifsyedali I knew you would ask that question, that's why I said it's just an example so you can get the idea. I had similar issue which I've managed to resolve somehow (though I think it was hacky), but can't find it now to show you. Though I get your point, router state should not be concerned about that kind of state and I totally agree with you.

[2018-11-24 10:58] nareshbhatia commented on #44
@zeljkohuber, I agree with @atifsyedali - moving from list to detail is pure UI state. It is usually kept in a store as "selectedEntity" - I would say that's the best practice.

I am closing this for now. Please feel free to leave comments.

[2018-11-24 10:58] #44 closed

[2018-12-05 09:21] iexplore opened #58 "params must be type string or are converted"
Question:
When I put a numeric id in a param it gets converted to a string.
It first accepts the value and then changes the routerState for a second time (to a string).
*I noticed this because I have a mobx reaction() function on the routeState to  have it synchronised in my mobx-state-tree root store*
Might have something to do with the history bouncing it back as a string?

So the question is: s

[2018-12-12 16:29] worldbeater opened #59 "Nested paths"
Hello @nareshbhatia and thanks for your great library. Could you please provide an example on how to handle "nested" routing with `mobx-state-router`?

This works:
[code]

This doesn't work, but I need to handle this specific route: `/cool/route`
[code]

It would be great if we could document how to better handle the case defined above so other users won't face issue that I came across. Thanks in

[2018-12-12 16:43] nareshbhatia commented on #59
Hi @worldbeater, glad that you liked my work.

To answer your question, mobx-state-router does not support nested routes directly. However, you can easily transform any nested route into a non-nested one. Please see this comment by @davidmz who has done an implementation: https://github.com/nareshbhatia/mobx-state-router/issues/6#issuecomment-416310912.

It is probably a good idea to provide an ex

[2018-12-12 16:43] #59 closed

[2019-02-21 08:39] Regaddi opened #60 "Warnings when building with parcel"
Hey,

when building a react app with parcel and mobx-state-router, it will show up some warnings:

[code]

By investigating the mobx-state-router folder inside of node_modules I can see that the src folder is not published:

![image](https://user-images.githubusercontent.com/1336590/53155051-86035580-35bc-11e9-8ca1-e2f66564d8c3.png)

Therefore the sourceMap can't resolve the paths to the source fi

[2019-02-21 13:50] nareshbhatia commented on #60
That's a good observation @Regaddi. Would be great to get this working, but I may need some help.

Just as a quick experiment, I went to the mobx-shop example and copied the sources to the mobx-state-router bundle under node_modules:

![image](https://user-images.githubusercontent.com/1220198/53173273-569d1a80-35b5-11e9-80aa-781e0f3fa3c5.png)

However, when I try to look at the source in Chrome de

[2019-02-27 10:23] Regaddi commented on #60
Hey @nareshbhatia,

I think it should be fine if you add the src folder to the published files in your package.json:

https://github.com/nareshbhatia/mobx-state-router/blob/master/package.json#L19

Chrome DevTools is probably a completely different story 😄

[2019-02-27 13:13] nareshbhatia commented on #60
Yes, that can be easily done. I was just wondering how can we benefit from it. I am sure this problem has been solved - just a matter of Googling :-).

I will work on it. Need to updated dependencies anyway!

[2019-03-02 20:29] #60 closed

[2019-03-02 20:32] nareshbhatia commented on #60
:tada: This issue has been resolved in version 4.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/mobx-state-router)
- [GitHub release](https://github.com/nareshbhatia/mobx-state-router/releases/tag/v4.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-02 20:34] nareshbhatia commented on #60
Done. Please let me know how parcel feels about this release :-)

[2019-03-04 14:09] Regaddi commented on #60
🎉You're awesome, @nareshbhatia! Warnings are gone after updating to 4.0.4 😄

[2019-03-04 14:19] nareshbhatia commented on #60
Glad to help!

[2019-03-27 23:02] eDubrovsky opened #61 "Unhandled Promise Rejection: Error: toState is undefined"
Hello! I'm really love your project! But i have some troubles with my routes:

This is my route:
[code]

This is my url in navbar in **MAIN** page (it's work):
[code]

This is my url in **PROJECT** page (with different sceneId):
[code]

When i trying click on **Change ID** link when i be on `/project/1/scene/1/` url,
I get error:
[code]

I think, I do something wrong ))
Thank for your library and

[2019-03-27 23:58] eDubrovsky commented on #61
Sorry, i forgot to add @action into loadSidebarView function :)

[2019-03-27 23:58] #61 closed

[2019-03-28 00:02] nareshbhatia commented on #61
I like issues that solve by themselves 👍

Glad you like this project!

[2019-03-30 12:58] eDubrovsky opened #62 "Incorrect peer dependency"
Hi! When I create Docker, i see this warning message:

`warning " > mobx-state-router@4.0.4" has incorrect peer dependency "mobx@^4.x".`

I use:
[code]

[2019-03-30 16:57] #62 closed

[2019-03-30 16:59] nareshbhatia commented on #62
:tada: This issue has been resolved in version 4.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/mobx-state-router)
- [GitHub release](https://github.com/nareshbhatia/mobx-state-router/releases/tag/v4.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-30 17:04] nareshbhatia commented on #62
Done. Please try with version 4.0.5.

[2019-03-31 13:22] eDubrovsky commented on #62
It' work, thanks!

[2019-04-22 07:34] cr7parker opened #63 "Disappear 'activeClassName' with search params."
Hello.
There is the next route:
[code]

But when the query string is sent `/users?showDeleted=false`, the activeClassName flies off.

[2019-05-12 19:26] cmolenda opened #64 "Add Support for Bracket Format URL Query Array Parameters"
**Problem**
Bracket formatted array values in query strings do not return arrays in the `toState` of routes `onEnter` callback.

**Request**
Allow users to specify which parsing format the query-string library uses

**Details**
When using this module in conjunction with a server framework such as Rails, the server's query string format for array values uses the pattern `keyName[]=value`. E.g. for

[2019-05-15 06:33] iexplore opened #65 "Catch-all"
We are using MSR and are very happy with it but there is one thing I am wondering;
Is there a possibility to have a catch-all (*) pattern to redirect to a general not-found page.
Currently solved it like this:
   ...
  {
    name: 'errorPage',
    pattern: '/error',
  },
  {
    name: 'notFound5',
    pattern: '/:notFound/:two/:three/:four/:five',
    beforeEnter: () => {
      throw new RouterSta

[2019-06-21 00:21] nareshbhatia commented on #65
Hi @iexplore, glad to hear that you like mobx-state-router.

I am surprised that the router is not catching your unrecognized paths. Here's the code that does path matching (see history-adapter.ts)

[code]

This code iterates through each path top-down and tries to find a match. If no path matches, it goes to the not found state. Where is this logic breaking for you?

[2019-06-21 00:52] nareshbhatia commented on #64
Thank you for this great suggestion, @cmolenda. I am open to exposing the full capability of `query-string`. Let's work on an API for this.

My initial thought is to allow `parse()` and `stringify()` to be passed in as options. I would also change the RouterState definition as follows:

[code]

Finally, I would upgrade the `query-string` dependency to 6.x.

Please let me know your thoughts.

[2019-06-24 12:29] iexplore commented on #65
Dear Naresh,

Because of your reaction I did further investigation and found the cause why it didn't work for me.
In the "not-found" page was a beforeEnter hook that did a throw to an error page to handle the situation. It appears that the hooks are not called for the not-found page.
Is this expected behavior?

Anyway, now handling the not-found on the path itself so the problem is solved now.

[2019-06-24 12:29] #65 closed

[2019-06-24 12:37] nareshbhatia commented on #65
I have never tried putting a beforeEnter hook on the not-found path. It is meant to be a simple end destination. Anyway, I am glad that you have figured out a solution.

[2019-08-13 23:14] upschmidtcreek opened #67 "Complex Hierarchy"
Hi Naresh, thank you for putting this together and sharing it with everyone.  I was going to build a router using Mobx myself until I came across your repo.  I've taken a look at your examples and I have a question.

With a site that has a complex page/view/component hierarchy, do you have any examples or thoughts on how I could accomplish something like the below?

[code]

In your examples, each

[2019-08-14 01:02] #67 closed

[2019-08-20 04:33] Clee681 opened #68 "Why is rootStore a mandatory parameter?"
Hello!

Thanks for creating a wonderful library. I realize at this point it would be a breaking change to remove the `rootStore` argument of `RouterStore`, but I wanted to log that it seems to be _too_ opinionated of a requirement. Currently, all of my stores are in a simple object which I spread to mobx's `Provider` component (`<Provider stores={...stores}>`). This is convenient since I can injec

[2019-08-20 21:26] nareshbhatia commented on #68
Hi @Clee681,

Glad that you are liking the library.

The idea of requiring a `rootStore` actually comes from the [best practices](https://mobx.js.org/best/store.html#combining-multiple-stores) described in the MobX documentation. The pattern has served me well - it allows multiple stores to be accessed from a single entry point. I am afraid that making a change at this point will be a huge disrupt

[2019-08-20 21:26] #68 closed

[2019-08-21 11:33] JosipTomaic opened #70 "pass custom parameters through router state"
How I can pass custom parameter through router state but I don't want that custom parameters to be seen in route?
Is this even possible using this package?
The application is made in Reactjs

The scenario si:
1. click on button and then call goTo method from router store
2. in that goTo method call pass parameter from component
3. read that passed parameter and print it on screen

Any help or advi

[2019-08-22 17:06] lukavuletic opened #71 "routerState changes twice on transition"
Recently I have discovered that routerState changes twice on one transition. I have tested it on a completely fresh project (meaning I have created and installed only necessary things to reproduce the case) and on three different projects, all with different configuration.
I have tried both observing and having a reaction on routerState, as well as debugging actual sourcecode through chrome dev to

[2019-10-03 16:41] UweWindt opened #72 "encode / decode of params"
When i call a route by routerStore.goTo with:

 `params={ aparam : "xx & xx"}`

i will get in the onEnter callback:

`toState.params={ aparam : "xx %26 xx"}`

It seems encoding / decoding is not working symetric, at least not for '&'

[2019-10-12 06:10] thirdman opened #73 "SSR approach (+ thanks!)"
### Thanks!
Firstly, thanks heaps! I've used this on a couple of  side projects, and really appreciate your work - it hits a sweet spot for simplicity and speed to get working.

### SSR
Is there a suggested approach to using this server side? (In my case with create-react-app). I didn't see anything in documentation, so thought I'd ask.

😃

[2019-10-12 16:00] nareshbhatia commented on #73
@thirdman, glad you liked it. For SSR you can look at the examples project: https://github.com/nareshbhatia/mobx-state-router-examples/tree/master/ssr

[2019-10-12 16:00] #73 closed

[2019-10-15 09:40] thirdman commented on #73
OMG sorry, how did I not see that.

[2019-11-26 08:33] kirilldronkin opened #74 "Preserve the context of route's hooks"
Hi, thank you for your work. I suggest don't destructuring of `onEnter`, `onExit` etc. hooks during a transition to preserve their context for a more convenient usage of routes as classes. Currently I have to apply `@autobind`:

[code]

[2020-05-11 15:09] nareshbhatia commented on #57
FYI, I am reconsidering the approach to require a rootStore in the Router (see https://github.com/mobxjs/mobx/issues/2354). Yes it will be a breaking change, but that can be accounted for by incrementing the major version number.

If anyone has a concern with this approach, please let me know.

[2020-05-13 23:57] Yuniverse-tech opened #81 "Expected "param" to be a string"
Uncaught TypeError: Expected "locale" to be a string

const Routes: Route[] = [
	{
		name: "home",
		pattern: "/:locale"
	},
	{
		name: "services",
		pattern: "/:locale/services"
	},
...

The **: locale ** parameter represents "en" or "fr" and is always a string. All other parameters defined in this form do not work and return the same error "to be string". Has anyone already been confused about t

[2020-05-19 11:22] nareshbhatia commented on #20
This one has been long open. Giving it a little thought, if `user=guest` is the default, then the url typed in the browser would be `/`. This could be confused with a real route `/` - don't want to take this chance. Closing.

[2020-05-19 11:22] #20 closed

[2020-05-20 03:29] nareshbhatia commented on #70
This should be possible in the upcoming 5.x release. You can pass any number of options into RouterState (and also RouterStore). See [here](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/stores/RouterState.ts#L43-L46). Please let me know if this is what you had in mind.

[2020-05-20 23:31] nareshbhatia commented on #70
Closing for now. Please feel free to add comments.

[2020-05-20 23:31] #70 closed

[2020-05-20 23:39] nareshbhatia commented on #68
@Clee681, you will be glad to know that version 5 (currently in beta) implements your request. It's a major release and I am introducing a few minor breaking changes to clean up the API. `rootStore` is no longer a required parameter. Instead you can pass any number of options into the constructor. Please see [here](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/stores/RouterStor

[2020-05-22 19:37] nareshbhatia commented on #63
Hi @cr7parker, this issue has been fixed in version 5.0.0-beta.4. The reason you were facing this issue is that the test for determining if a link is active was too strict - the entire `RouterState` had to match, including params and queryParams. I have now relaxed the test to only check for routeName which covers 80% of the cases. In special cases, if your test for determining the active class is

[2020-05-22 19:37] #63 closed

[2020-05-22 23:06] nareshbhatia commented on #64
Hi @cmolenda, this feature has been added in version 5.0.0-beta.5. You can now pass query-string parse options as well as stringify options to the RouterStore. See [here](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/stores/RouterStore.ts#L66-L74).

Please note that version 5 has a few breaking changes to simplify the APIs. You can find a change log [here](https://github.com/na

[2020-05-22 23:06] #64 closed

[2020-05-22 23:35] nareshbhatia commented on #71
Hi @lukavuletic, as far as I can tell, the routerState changes only once on one transition. The easiest way to confirm this is to put a console.log() in [RouterStore.setRouterState()](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/stores/RouterStore.ts#L96). This is the single location where the routerState is changed. After adding this console.log(), I tested with two sample ap

[2020-05-22 23:35] #71 closed

[2020-05-22 23:40] nareshbhatia commented on #72
Hi @UweWindt, is this a single param that happens to have a `&` inside it or two params? I have never tested with params that have spaces or special characters in them. What is your actual use case?

[2020-05-22 23:52] nareshbhatia commented on #74
Hi @kirilldronkin, I am glad that you liked my work.

I don't understand what you mean by destructuring of hooks. Hooks are just pure functions supplied to the library and called during transitions: see [here](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/stores/RouterStore.ts#L206-L245). Also they are meant to be simple JavaScript objects, not classes.

What are you trying to

[2020-05-23 00:04] nareshbhatia commented on #81
Hi @Yuniverse-tech, I don't see any problems as such - this should work. Have you looked at the example apps? Here's [one example](https://github.com/nareshbhatia/mobx-state-router/blob/master/examples/mobx-shop/src/stores/routes.ts#L47).

If not create a minimal app where this issue can be reproduced and post it here.

[2020-05-23 14:36] UweWindt commented on #72
Hi @nareshbhatia ,
it's one parameter.

"Normal" ascii characters are not the problem.
For German "Umlaute" like "ä,ö,ü" etc.  i can use encodeURIComponent / decodeURIComponent to stay symetric.
But the "&" is resilient.

By the way: Congrates to mobx-state-router. It's a super libray.

Uwe

[2020-05-23 16:15] nareshbhatia commented on #72
Thanks @UweWindt, glad you like my work. I just released version 5 this morning, you will love it even more! I have simplified the APIs and made them more flexible. For example, you can now pass options into `RouterStore` and `RouterState`. Please see the change log [here](https://github.com/nareshbhatia/mobx-state-router/blob/master/CHANGELOG.md) and the new [docs site](https://nareshbhatia.githu

[2020-05-23 17:36] kirilldronkin commented on #74
You can use classes as well as objects to represent a route, thank to TypeScript's structural typing. In my project routes are instantiated and passed to the store via DI and incapsulate some logic about stores initializing and further observing. Here is a simplified example of one of such routes:

[code]

If you replace destructuring (e.g. `const { beforeExit, onExit } = fromRoute`) to direct cal

[2020-05-23 18:11] nareshbhatia commented on #74
That should be easy enough! Can you confirm that you are talking about only [these two lines](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/stores/RouterStore.ts#L191-L192)? I could simply rewrite the logic as:

[code]

Please note that I released version 5.0.0 this morning. If I do the change it would be in this version. Please see the [change log](https://github.com/nareshbha

[2020-05-23 18:15] UweWindt commented on #72
Hi @nareshbhatia ,

i seems that the German Umlaute now working out of the box. Maybe it has to do with a new version of history, that was released meanwhile.

The workaround for '&' i use is:

@action.bound
    async onEnter(fromState: RouterState, toState: RouterState) {
     const params=decodeParams(toState.params);
    ....
}

with  decodeParams as:

export const decodeParams = (params: any)

[2020-05-23 18:55] kirilldronkin commented on #74
Yes, you are right, by not doing destructuring `this` in the hooks is preserved and we can use classes safely.

Ok, got it. BTW v5 is wonderful, I'm very glad that the library is evolving.

[2020-05-23 19:29] #74 closed

[2020-05-23 19:32] nareshbhatia commented on #74
Fixed. Please see v5.0.1

[2020-05-24 14:51] cmolenda commented on #64
Excellent work!  And very easy to understand spec, too: https://github.com/nareshbhatia/mobx-state-router/commit/61eeb475d490afe8bc70552c4d67000d78185aed#diff-47052a903b896d9f6a8eacf0c7c690acR70 😄

Thank you for this.

[2020-05-25 21:58] Yuniverse-tech commented on #81
I think it's related to my development environment. Regards.

[2020-05-25 21:58] #81 closed

[2020-06-17 18:10] leoperria commented on #71
Hi, first of all thanks @nareshbhatia for this great project ! I'm starting to use mobx-state-router so maybe this is  red herring. I had  the exact same problem of @lukavuletic, basically I was using this link component:

[code]
and this was triggering the double transitions. So  I tried to debug those state transitions in `beforeEnter` hook and I noticed that when I clicked the link the hook was

[2020-06-17 18:14] leoperria opened #88 "beforeEnter hook started twice when a parameter is numeric"
Hi, first of all thanks @nareshbhatia for this great project ! I'm starting to use mobx-state-router so maybe this is  red herring. I had  the exact same problem of @lukavuletic in #71, basically I was using this link component:

[code]
and this was triggering the double transitions. So  I tried to debug those state transitions in `beforeEnter` hook and I noticed that when I clicked the link the h

[2020-06-17 20:59] nareshbhatia commented on #72
Closing this for now. Please reopen if still a problem.

[2020-06-17 20:59] #72 closed

[2020-06-17 21:18] nareshbhatia commented on #88
Thanks, @leoperria. I am glad that mobx-state-router is working well for you.

The router internals assume that the window location is a string and all params/queryParams are strings. Also the dependent libraries used for parsing and URL generation make the same assumptions. Touching this logic would mean introducing unintentional bugs.

My suggestion would be to avoid using numbers as parameters.

[2020-06-17 21:18] #88 closed

[2020-06-17 22:41] leoperria commented on #88
Thanks for clarifying, I will find a way around this at application level

[2020-06-29 21:11] idrm opened #89 "Param change doesn't trigger a re-render"
When the view map points multiple routes to the same component with only the route and params differing it does not trigger a re-render. See https://codesandbox.io/s/eager-sound-fi6z0 for an example

[2020-06-29 22:39] idrm commented on #89
My initial assessment that the issue may be due to the same component being used multiple times in the view map was incorrect.

Here's an updated sandbox that better demos the issue: https://codesandbox.io/s/objective-solomon-49m5u

After some tinkering with the library code I came up with the following update to `RouterView.tsx` to fix the issue. I tweaked the view map to also accept a function t

[2020-07-02 12:17] kirilldronkin opened #90 "Usage of replaceHistory causes unexpected re-transition"
Hi. If I pass `replaceHistory` as `true` in `setRouterState()` even with the same route, params and queryParams a re-transition will happen anyway because of deep comparison of two states in `transition()` and default `false` value for `replaceHistory` in `createMatchingRouterState()`. Is it an expected behaviour? Maybe options should be ignored during comparison?

[2020-07-02 13:03] kirilldronkin opened #91 "Ability to unregister history listening in HistoryAdapter"
It will be very useful for cases when store is instantiated conditionally and multiple times, for example when used in conjunction with [react-ioc](https://github.com/gnaeus/react-ioc) (Hierarchical Dependency Injection for React). It may be a separate method, like `unregister()` or something similar. Also it should consider a disposer returning from `observeRouterStateChanges`'s reaction.

[2020-07-04 20:08] nareshbhatia commented on #89
Hi @idrm. I looked at your example. The router is in fact changing the state correctly. However the Department page is not detecting the state change because it is not an observer. The moment I made it an observer, everything started to work correctly. Please see here: https://codesandbox.io/s/twilight-river-dh6pq?file=/src/DepartmentPage.tsx

[2020-07-04 20:08] #89 closed

[2020-08-03 10:56] coxm opened #92 "Support mobx-react-lite as well as mobx-react"
Currently `observer` is imported from mobx-react but only used for functional components ([RouterView](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/components/RouterView.tsx) and [RouterLink](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/components/RouterLink.tsx),), so it should be possible to use [mobx-react-lite](https://github.com/mobxjs/mobx-react-lite

[2020-08-10 01:28] nareshbhatia commented on #92
@coxm, thanks for the suggestion. As you mention, it will affect users depending on mobx 5. What is your motivation for importing from mobx-react-lite directly? Are you only depending on that package?

[2020-09-20 02:46] radojko opened #93 "Mobx shop example item page shows item from history before loading new one"
The problem can be replicated with this steps:
1. Open demo page: https://mobx-shop.firebaseapp.com
2. Click on any item
3. Go back to home page with browser "Back" button
4. Click to any other item then previous and you will see in the first moment first item on the screen and after that a new item will be loaded

[2020-10-05 17:41] kirilldronkin opened #95 "Support MobX v6"
Hi, in v6 `decorate` utility is no longer available and `makeObservable` should be used instead.

[2020-10-09 18:22] nareshbhatia commented on #95
Released v6.0.0-beta.1 with @next tag. The new dependencies are mobx v6 and mobx-react-lite v3  Please let me know if this version works for you.

[2020-10-09 18:23] nareshbhatia commented on #92
@coxm, released v6.0.0-beta.1 with @next tag. The new dependencies are mobx v6 and mobx-react-lite v3  Please let me know if this version works for you.

[2020-10-12 14:50] kirilldronkin commented on #95
The migration of my project is planned on the next week, so if someone can check it before me I'll be very appreciate.

[2020-10-12 16:26] nareshbhatia commented on #95
No worries.

[2020-10-17 00:03] jmampost commented on #95
Been using beta.1 on my project for a few days now, no issues so far. Thanks for this wonderful library 👍

[2020-10-17 12:47] nareshbhatia commented on #95
Thanks @jmampost. Glad you like the library.

There is one PR pending for upgrade to latest version of history. As soon as I get a chance I want to review/merge it, then final v6!!!

[2020-10-17 12:47] #95 closed

[2020-10-17 12:48] #92 closed

[2020-11-06 19:08] ShashKrish opened #97 "Component renders twice"
Hi,

I recently started using mobx-state-router, I ran into an issue where the component is rendered twice when there's a custom parameter. I use this custom parameter to clear alert store conditionally. This is required because the alerts from one page will be displayed in another page only in few scenarios.

Could you please let me know what is happening here?

SelectWorkflow.tsx
[code]

Routes.

[2020-11-10 12:40] iexplore opened #98 "Attempted import error: 'decorate' is not exported from 'mobx'"
After upgrading to Mobx@6.0.3 running the project fails compiling with
 "./node_modules/mobx-state-router/dist/mobx-state-router.esm.js"
 "Attempted import error: 'decorate' is not exported from 'mobx'."

[2020-11-10 12:50] nareshbhatia commented on #98
Please use `mobx-state-router@6.0.0-beta.1` (same as `mobx-state-router@next`)

[2020-11-10 12:55] iexplore commented on #98
Sorry missed [Support MobX v6 #95](https://github.com/nareshbhatia/mobx-state-router/issues/95)

[2020-11-10 12:55] #98 closed

[2020-11-19 17:09] yallie opened #100 "Attempted import error: 'decorate' is not exported from 'mobx'"
Hello,

I've created a simple react application following the [getting started guide](https://nareshbhatia.github.io/mobx-state-router/docs/guides-getting-started.html).
The application shows this error:

Looks like `mobx-state-router` uses deprecated `decorate` method.
Any plans to support MobX v6?

Thanks!

UPD. My dependencies are:
* mobx: ^6.0.4
* mobx-react: ^7.0.5
* mobx-state-router: ^5.2.0

[2020-11-19 17:22] yallie commented on #100
Sorry, found this issue related to MobX v6 migration:
https://github.com/nareshbhatia/mobx-state-router/issues/95

[2020-11-19 17:22] #100 closed

[2020-11-22 19:47] akaguny commented on #97
Hi!
Can you explain your problem with sandbox example for hacking?
Also maybe usefull expected / actual result compare in your issue

[2020-11-22 19:58] akaguny opened #101 "compatible with mobx-state-tree"
i'm really love this router for simple and clear. But in my case i want to use it with mobx-state-tree(mst). Any ideas for help with it?
I think that possible to simple port router to mst, but don't like this solution.
Also i can decorate router with mobx-state-tree with autorun for synchronization, but possible in will be little bit overhead

[2020-11-25 21:36] dodas opened #102 "RouterLink: use forwardRef"
Hi! Thanks for great little router!

I just noticed that `<RouterLink>` does not accept `ref` prop.
This should be easily solved by adding `forwardRef`, if I am not mistaken.

Should I send a PR?
Thanks!

[2020-12-20 14:58] akaguny commented on #101
Hi, i was success this case.
I extend my store with routerStore property in volatile space of the MST model.

[code]
store tree injected by argument
[code]

[2020-12-20 14:58] #101 closed

[2021-01-17 15:55] ShaneCallananAerlytix commented on #6
One of the problems I'm having related to nesting routes is the ability to render a wrapper component around a set of routes. For instance, imagine we have the following routes:

root -> [/test]
       -> [/main] -> [/dashboard]

/test - Some page for testing stuff
/main - Entry point of main application (passes some context down to other pages in the hierarchy)
/main/dashboard - Uses context prov

[2021-02-09 08:10] ARMEGO opened #110 "Error when MobX strict-mode is enabled"
After adding MobX strict-mode configuration as mentioned in [this configuration](https://mobx.js.org/configuration.html#linting-options) an error is thrown in the UI as under:

`Unhandled Rejection (Error): [mobx] Since strict-mode is enabled, changing observed observable values outside actions is not allowed. Please wrap the code in an `action` if this change is intended. Tried to modify: RouterS

[2021-02-15 17:40] davidminor opened #111 "Transition hooks not called for redirects"
I notice that if a route's transition hooks return a redirect state, the hooks for the redirect state's route aren't called. Is that intentional?

[2021-03-08 14:03] dkolarev commented on #111
Have the same issue with this since and could lead to serious. Problem is with [this](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/stores/RouterStore.ts#L230) line where new (same is for all hooks). I'm using the latest 6.0.0-beta.1 for Mobx 6. Can you confirm that is a bug or by design so we could plan what needs to be changed.

[2021-03-09 18:23] nareshbhatia commented on #111
@davidminor, @dkolarev, confirming that I have seen your messages. I will try to investigate and get you an answer by the weekend.

[2021-03-12 11:32] hkeide opened #117 "Set URI fragment/hash"
Hello, thanks for a great library, finally something sane and simple.

Can I set the hash part of a URL in a link? I've looked everywhere and I can't find it mentioned anywhere.

Also, is there a good way to navigate to a completely custom full URL without having the library build the href? For example I get a sent a full URL by the server and I want to navigate to it without knowing which route i

[2021-03-14 06:03] nareshbhatia commented on #111
Hi @davidminor and @dkolarev, I took a quick look at the related code and concluded that the hooks were meant to be a simple mechanism to solve the following use cases:

1. Check if it is ok to enter the state requested by the user. This is the `beforeEnter` hook. See [Redirecting to the Sign In page](https://nareshbhatia.github.io/mobx-state-router/docs/guides-recipes#redirecting-to-the-sign-in-p

[2021-03-14 06:10] nareshbhatia commented on #102
Hi @dodas, may I know what use case are you trying to solve using a ref into the link?

[2021-03-14 06:19] nareshbhatia commented on #110
Which version of mobx-state-router are you using? Have you tried this with version 6.0.0-beta.1?

[2021-03-14 06:32] nareshbhatia commented on #117
Hi @hkeide, this router was designed with the assumption of push state. May I know why you need to go for hash part?

For your second question, the router only knows about the specified routes sent to it in the constructor. I think it should be ok to use the history API outside of the router. Let me know how this works out for you.

[2021-03-14 06:37] hkeide commented on #117
Hi, I have a long feed page, and I want to be able to scroll to a specific location on the page using a link without having to reload the SPA

[2021-03-14 14:33] nareshbhatia commented on #117
If I am not mistaken, you should be able to render links on that page with associated hashes and they should jump to the right location. For example: `<a href="/departments/electronics#cannon">Go to Cannon</a>`. If it causes a page refresh, you can encapsulate this in a component and prevent the refresh, something like [this](https://github.com/nareshbhatia/mobx-state-router/blob/master/src/compon

[2021-03-14 15:33] dodas commented on #102
Hey Naresh!

Accessing the underlying element though the `ref` can be useful in many cases.
For example, if you wrap `RouterLink` in [Chakra UI's `Tooltip`](https://chakra-ui.com/docs/overlay/tooltip), the tooltip won't be positioned correctly, because Chakra UI cannot access the underlying element.

[2021-03-14 16:41] dkolarev commented on #111
Hi @nareshbhatia, first thank you for your time. I am aware of the recursion issue but that should be on the developer since his actions can cause stack overflow behavior. There is a lot of existing use cases in various frameworks, where badly written code could lead to undesired behavior.
My general issues are data fetching and authorization processing that fails in specific cases.
As you said, h

[2021-03-14 17:46] davidminor commented on #111
Hi @nareshbhatia -

Thank you for looking into this.

In our case we're using the 2nd use case fairly extensively, either fetching the data or kicking off the fetching of data when entering a route (seems like with react moving to suspense this becomes a very common one). When we tried adding a redirect to one of our routes we found that the data wasn't being fetched due to `onEnter` not being cal

[2021-03-14 18:33] nareshbhatia commented on #111
Ok, I can see your use case now. Perhaps we can try the recursion. That seems to be the cleanest approach to avoid repeated code. I would also suggest keeping the fromState the same as the original fromState - the reason being, the router never went into the redirectState. Do you want to submit a PR? We will need to make sure that tests don't break + additional tests for the new feature.

[2021-03-17 14:37] hkeide commented on #117
Doesn't a raw a tag like that always cause a page reload? It seems I have to override routerStateToUrl() so that routerStore.goToState() will do the right thing in the <a> onClick handler? I can't see a way to do this without forking the library. Please correct me if I'm wrong. I can create a PR for adding fragment capability if you're interested.

[2021-03-17 17:25] mnshgautam opened #118 "code splitting : splitting of stores and other related components files -"
is there any support for code splitting using web pack plugin, based on routes, something similar to what react router supports `https://reactrouter.com/web/guides/code-splitting` @nareshbhatia

[2021-03-21 21:48] davidminor commented on #111
@nareshbhatia if `fromState` remains the same, what are your thoughts on whether `beforeExit` and `onExit` should be called once, or each time?

E.g. if we transition from state A to state B and `A.onExit` redirects to state C, should we again call the `beforeExit` and `onExit` hooks for A when transitioning to C? Or only call C's `beforeEnter` and `onEnter` hooks?

[2021-03-22 20:57] dkolarev commented on #111
@davidminor Calling exit hooks from the same `fromState` will cause infinite loops. You can check my implementation #119  where I'm doing it only once, which is somehow natural.

[2021-03-22 22:49] nareshbhatia commented on #111
Thanks @dkolarev. I will take a look at your PR over the weekend.

[2021-03-22 23:09] davidminor commented on #111
I think this could be avoided by checking that the redirectState and toState are not equal.

I agree though, it seems more logical to have beforeExit and onExit only called a single time.

[2021-03-24 14:26] armego-philips commented on #110
I'm using version "^4.0.6". No, I haven't tried the beta version.

[2021-04-01 19:25] dkolarev commented on #111
@nareshbhatia Hi, did you maybe have time to check the pull request related to this issue?

[2021-04-03 17:54] nareshbhatia commented on #111
Implemented via https://github.com/nareshbhatia/mobx-state-router/pull/119

[2021-04-03 17:54] #111 closed

[2021-04-03 18:00] nareshbhatia commented on #102
Hi @dodas, please feel free to submit a PR on the mobx6-update branch.

[2021-04-03 18:04] nareshbhatia commented on #118
Hi @mnshgautam, haven't given this a thought. What we have is an example of lazy loading based on pages. Please see https://github.com/nareshbhatia/mobx-state-router/tree/mobx6-update/examples/suspense-lazy-loading.

[2021-04-03 18:04] #118 closed

[2021-11-03 20:06] yourikoeman opened #143 "Abbility to define a global routing gaurd"
First of all, great project and many thanks for maintaining it.

I have run into a issue where i would like to be able to define a global `beforeEnter` style routing gaurd. specifically
for handling authentication and have it run on every route (so you don't have to rely on making a wrapper function used on every other routing gaurd).

This could be implemented internally without breaking any of t

[2021-11-03 20:26] nareshbhatia commented on #143
@yourikoeman, glad to hear that you are finding this project useful.

Regarding your issue, have you seen this recipe in the docs: https://nareshbhatia.github.io/mobx-state-router/docs/guides-recipes#redirecting-to-the-sign-in-page? Does it address your problem?

[2021-11-03 21:04] yourikoeman commented on #143
Thanks for taking your time to reply :)

The behavior would prevent public routes from being defined on the routes beforeEnter in this case yes.
But the place where i would define the behaviour for what routes should be considered "public" would be in the beforeEach

Like E.G (skeleton taken from one of the examples in this repo)
[code]

The main advantage is when you have behavior you know for su

[2021-11-04 00:22] nareshbhatia commented on #143
@yourikoeman, I see your point now. Please feel free to send a PR.

To confirm my understanding:
1. You will add a global `beforeEnter` hook.
2. This will be added as a special option which can be passed into the 3rd parameter of `RouterStore`. Type will be `TransitionHook`.
3. Can you please name this option `globalBeforeEnter`, just so that people don't get confused with `Route.beforeEnter`?

Pl

[2021-11-04 05:12] yourikoeman commented on #143
Yes, i will incorporate those changes and the name change of said option.
During this weekend i will implement it and reference the PR in this thread.

I will also make sure to update the tests, documentation and examples.

Are there special considerations i need to take when updating those?

[2021-11-04 15:08] nareshbhatia commented on #143
Thanks @yourikoeman.

No special considerations regarding updating of tests and documentation - just an overall focus on quality. I will of course be reviewing to make sure everything is in order.

[2021-11-07 19:39] yourikoeman commented on #143
Pull request #144 has been made

[2021-11-21 00:40] BizH opened #145 "npm install mobx-state-router error"
Apologize in advance if this is not related to anything in your repository, but I am getting this error trying to install mobx-state-router using npm:

[code]

[2021-11-21 00:55] nareshbhatia commented on #145
Hmmm, I have no idea why!!! I just tried it and it installs without any issues. What version of npm are you running? Did you try it with yarn?

BTW, note that the version 6.00 is in beta, but pretty solid for use.

<img width="783" alt="CleanShot 2021-11-20 at 19 55 27@2x" src="https://user-images.githubusercontent.com/1220198/142745242-96795494-ab95-4f18-b1d9-61cd8f1140e1.png">

[2021-11-21 01:25] BizH commented on #145
Thanks for the quick response, Naresh.

The issue seems to be the version of npm. Works on 6.4.1. Does not work on 8.1.0. All I am trying to do is run your quick start sample.

I got it install 6.0.0 on npm 8.1 after upping mobx and mobx-react:

[code]

[2021-11-21 03:49] nareshbhatia commented on #145
So I think npm 7 & 8 are incompatible with version 6. You can try the `--legacy-peer-deps` with newer versions of npm and see if you can make it work. Otherwise, switch to yarn version 1.x. It is much more stable & robust.

[2021-11-22 18:36] BizH commented on #145
I tried `--legacy-peer-deps`, but it did not work. Anyway, it is working with v6x. Thanks for your help.

[2021-11-22 18:36] #145 closed

[2022-10-27 05:44] ARMEGO commented on #110
This particular issue is fixed in version 6. Thanks.

[2022-10-27 05:44] #110 closed

[2022-10-27 05:53] armego-philips opened #146 "Warning when MobX Strict Mode is enabled"
`[MobX] Since strict-mode is enabled, changing (observed) observable values without using an action is not allowed. Tried to modify: RouterStore@1.routerState`
In RouterStore class, replacing `this.routerState = this.options.initialState;` with `this.setRouterState(this.options.initialState);` should work.